// Variables

// Brand colors
$brand-primary:         #cc9966; // Konditeri brown
$brand-secondary:       #93897d; // Konditeri brown-gray
$brand-dark:            #68310c; // Konditeri dark brown
$brand-light:           #8688a2; // Konditeri lightpurple

$white:                 #ffffff;
$salmon:                #bf674c;


// Layout

// Media queries
$screen-sm: 48em;   // 768px
$screen-md: 56em;   // 896px
$screen-lg: 75em;   // 1200px



// Typography
$basefont: 'Titillium Web', sans-serif;

$titlefont: 'Lora', serif;
