// Variables

// Brand colors
$brand-primary:         #cc9966; // Konditeri brown
$brand-secondary:       #93897d; // Konditeri brown-gray
$brand-dark:            #68310c; // Konditeri dark brown
$brand-light:           #8688a2; // Konditeri lightpurple

$white:                 #ffffff;



// Typography
$basefont: 'Titillium Web', sans-serif;

$titlefont: 'Lora', serif;
